.right-boder {
  border: 1px solid #efeeee;
  width: 25%;
  height: 300px;
  position: absolute;
  right: 55px;
  top: 80px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  //overflow: scroll;
  .btn {
    padding: 2px;
  }
}